a{
    text-decoration: none
}
.date{
    padding: 1.2rem;
}
.tag{
    color: #5a5a5a;
    font-size: .65rem;
    font-weight: 400;
    background-color: #f2f2f2;
    padding:6px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.tag:hover{
    background-color: #e5e5e5;
}